/* .relative{
    position: relative;
    top: 10px;
    left: 20px;
}
.absolute{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

} */
.fixed{
    position: fixed;
    bottom: 0px;
    right: 0px;
}